.wrapper {
    position: fixed;
    z-index: 101;
    height: 100%;
    width: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    //background-color: #189eff;
    background: linear-gradient(rgb(0, 91, 234), 40%, #189eff);
}
.footer-sidebar {
    button {
        width: 80px;
        height: 35px;
        font-size: 1.2rem;
        margin-top: 80px;
        margin-left: 50px;
        color: white;
        border-color: white;
        background-color: transparent;
    }
}
