.wrapper {
    height: auto;
    width: 100%;
}
.header-store {
    height: 130px;
    width: 82%;
    margin-top: 20px;
    //position: fixed;
}
.loc-san-pham {
    height: 60px;
    margin: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(226, 222, 222);
}
.sap-xep-theo {
    margin-left: 50px;
    width: 160px;
    position: relative;
    z-index: 1;
}
.tim-ten-san-pham {
    width: 600px;
    margin-left: 50px;
}
.ds-san-pham {
    width: 99%;
    height: 50px;
    margin-left: 20px;
    position: relative;
    z-index: 0;
}
