.wrapper {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    top: 0;
    //box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.881);
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 91, 234);
    justify-content: space-between;
}

.logo {
    width: 250px;
    margin-left: 20px;
    height: 60px;
    display: flex;
    cursor: pointer;

    h1 {
        margin-top: 6%;
        color: rgb(253, 216, 53);
        transition: filter 0.3s ease;
        &:hover {
            color: rgb(142, 142, 140);
        }
    }
}

.user-name {
    margin-left: calc(10px + 900px);
    font-size: 2rem;
    font-weight: 10px;
    color: rgb(253, 216, 53);
}
.action {
    align-items: center;
    display: flex;
    margin-right: 20px;
}
.action-icon {
    width: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
}

.action-icon:hover {
    transform: scale(1.1);
}
