.wrapper {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
//Statistics component
.statistics-container-1 {
    height: 100px;
    display: flex;
    align-items: center;
}
.statistics-container-2 {
    height: 100px;
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.statistics-container-1:hover,
.statistics-container-2:hover {
    color: lightgray;
}
.statistics-items {
    height: 80px;
    width: 380px;
    margin: 20px;
    font-size: 2rem;
    font-weight: 500;
    border: 0.5px solid black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(159, 68, 159);
    &:hover {
        background-color: rgb(199, 85, 199);
    }
}

.quantity {
    margin-left: 14%;
}
.icon-title {
    margin-left: 10px;
    margin-top: 10px;
}
.title {
    padding: 0px 10px;
}

//Chart component
.chart-container {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    p {
        font-size: 2rem;
        font-weight: 500;
        margin-left: 10px;
    }
}
.doanh-thu {
    width: 45%;
    height: 350px;
    margin: 20px 20px;
    border: 0.5px solid black;
    background-color: white;
}

.san-pham {
    width: 45%;
    height: 350px;
    margin: 20px;
    border: 0.5px solid black;
    background-color: white;
}
//RecentOrders component
.recentOrders-container {
    flex: 1;
    height: 400px;
    margin: 20px 20px;
    border: 0.5px solid black;
    background-color: white;
}
.lich-su-don-hang {
    font-size: 2rem;
    font-weight: 500;
}
