.login-css {
    width: 28%;
    margin-top: 15%;
    margin-left: 35%;
    font-size: 40px;
    color: orange;
    background-color: rgb(0, 91, 234);
}

.group-css {
    width: 96%;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 2%;
}

.control-css {
    font-size: 1.5rem !important;
}

.button-css {
    font-size: 20px !important;
    margin-left: 38%;
}
